/* Layout.module.scss */

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  height: 100dvh;
  scrollbar-color: #808080 transparent;
  position: relative;

  /* Mặc định cho các thiết bị (bao gồm Android) */
  @media (max-width: 768px) {
    height: calc(100dvh - 70px);
    background-color: #0d1015;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
