.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 995;
  transition: background-color 0.4s ease-in-out;
}
.modalOverlay.closing {
  background-color: rgba(0, 0, 0, 0) !important;
}

@keyframes gentle-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(139, 92, 246, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(139, 92, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(139, 92, 246, 0);
  }
}

.modalOverlay.closing :global(.opacity-100) {
  opacity: 0 !important;
  transform: translateY(10px) !important;
}
